/* ENTIRE SITE */
body {
  background-color: #e1e4e3;
  color: #08090a;
}
/* NavBar  */
.navBar {
  padding: 50px;
}
.navBar h1 {
  font-weight: 200;
  border-radius: 1px solid black;
}

/* Intro Container */
.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 150px;
  padding: 2rem;
  width: 100%;
  max-width: 100%;
  line-height: 1px;
  background-color: #222823;
  opacity: 1;
  box-shadow: 1px 1px 5px #222823;
  color: #f4f7f5;
}
.underIntro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introContainer img {
  width: 35rem;
  height: 35rem;
  margin: 2rem;
  box-shadow: 1px 1px 5px #a7a2a9;
}
.intro {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
}
.intro h2 {
  font-weight: 200;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

/* SKILLS */

.skillsContainer {
  margin-top: 100px;
  margin-bottom: 150px;
}
.techSkills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  max-width: 90%;
  width: 100%;
  margin-left: auto;
  background-color: #a6a9aa;
  margin-bottom: 50px;
}
.techSkills h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  letter-spacing: 4px;
  font-weight: 300;
  padding: 30px 30px 30px 10px;
  border-right: black solid 1px;
}
.familiarSkills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  max-width: 80%;
  width: 100%;
  margin-right: auto;
  background-color: #a6a9aa;
}
.familiarSkills h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  letter-spacing: 4px;
  font-weight: 300;
  padding: 30px 10px 30px 40px;
  border-left: black solid 1px;
}
.skills-1 {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-content: space-between;
  padding: 3rem;
}
.skills-1 h3 {
  font-weight: 200;
  padding: 10px;
}

/* About */
.aboutContainer {
  max-width: 100%;
  width: 100%;
  height: 90vh;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #222823;
  box-shadow: 1px 1px 5px #222823;
  opacity: 0.7;
}
.aboutContainer h1 {
  display: flex;
  justify-content: center;
  max-width: 60%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px;
  letter-spacing: 4px;
  font-weight: 300;
  border-bottom: white solid 1px;
  text-shadow: 1px 5px #222823;
  color: white;
}
.aboutItems {
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutItems h3 {
  padding: 20px;
  border-left: 5px solid white;
  line-height: 1.9;
  color: white;
}
.aboutItems h5 {
  padding: 30px;
  line-height: 1.7;
  color: white;
}

/* Project Images */
.projectsContainer {
  max-width: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin: 180px 30px;
}
.projectsContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  text-orientation: upright;
  padding: 20px;
  max-width: 10%;
  width: 100%;
  font-weight: 600;
  font-size: 8rem;
  margin-bottom: 40px;
  background-color: #a6a9aa;
  max-width: 30%;
  width: 100%;
}
.allProjects {
  max-width: 90%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-right: solid black 2px;
}
.projectImgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  width: 100%;
  padding: 30px;
}
.projectImg {
  width: 40rem;
  height: 30rem;
  box-shadow: 1px 1px 35px #222823;
}

/* FOOTER */
.footerContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  background-color: #3d4141;
  color: white;
}
.footerContainer h5 {
  font-weight: 300;
  font-size: x-large;
  letter-spacing: 2px;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  width: 100%;
  background-color: #e1e4e3;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon {
  width: 2rem;
  height: 2rem;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Intro Container */
  .introContainer {
    margin-bottom: 100px;
    height: 90vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: medium;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }


  /* Project Images */
  .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 2rem;
    padding: 17px;
    font-weight: 400;
    max-width: 5%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 10rem;
    height: 10rem;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Intro Container */

  .introContainer {
    margin-bottom: 100px;
    height: 90vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: medium;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }

  /* Project Images */
  .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    max-width: 10%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 14rem;
    height: 14rem;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Intro Container */
  .introContainer {
    margin-bottom: 100px;
    height: 90vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: medium;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    justify-content: start;
    max-width: 100%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }


  /* Project Images */
  .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    max-width: 10%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 14rem;
    height: 14rem;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  /* Intro Container */
  .introContainer {
    margin-bottom: 100px;
    height: 90vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: medium;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }


  /* Project Images */
  .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    max-width: 10%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 14rem;
    height: 14rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Intro Container */
  .introContainer {
    margin-bottom: 100px;
    height: 70vh;
  }
  .underIntro {
    flex-direction: row;
    justify-content: space-around;
  }
  .introContainer img {
    width: 25rem;
    height: 25rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: large;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 30px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }

   /* Project Images */
   .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 3rem;
    padding: 10px;
    font-weight: 400;
    max-width: 15%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 25rem;
    height: 25rem;
  }

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  /* Intro Container */
  .introContainer {
    margin-bottom: 100px;
    height: 90vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    display: flex;
    flex-direction: column;
    line-height: 2.5;
  }
  .intro h2 {
    font-size: medium;
  }

  /* SKILLS */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 20px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
    padding: 20px;
  }

  /* About */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    padding: 20px;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }

   /* Project Images */
   .projectsContainer {
    max-width: 90%;
    flex-direction: row;
    padding: 10px;
    margin: 100px 10px;
  }
  .projectsContainer h1 {
    font-size: 2rem;
    padding: 10px;
    font-weight: 400;
    max-width: 10%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 14rem;
    height: 14rem;
  }
}
