/* entire site*/
body {
  background-color: #e1e4e3;
  color: #08090a;
  margin: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* navbar  */
#logo {
  margin-top: -30px;
  width: 17rem;
  height: 13rem;
}
.menuIcon {
  display: none;
}
nav {
  top: 0%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  background-color: #e1e4e3;
  z-index: 5;
}
.nav-links {
  margin-left: auto;
  padding-right: 80px;
}
nav h1 {
  font-weight: 200;
  border-radius: 1px solid black;
}
.navContainer ul li {
  list-style: none;
  margin: 0 10px;
  display: inline-block;
}
.navContainer ul li a:hover {
  padding: 12px;
  color: #08090a;
  border-bottom: 1px solid black;
}
.navContainer ul li a {
  margin: 8px;
  padding: 10px;
  color: #3d4141;
  font-size: 1.2em;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
a.active-link {
  border-bottom: 2px solid #08090a;
}
.navContainer p {
  margin-bottom: 16px;
  color: #08090a;
  font-weight: 700;
  font-size: 20px;
}
#zero {
  padding-top: 150px;
}
.anchor {
  padding-top: 200px;
}
.anchor2 {
  padding-top: 200px;
}
#three {
  padding-top: 240px;
}

/* intro container */
.introContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 75px;
  padding: 2rem;
  width: 90%;
  max-width: 100%;
  height: 100vh;
  line-height: 1px;
  background-color: #222823;
  opacity: 1;
  box-shadow: 1px 1px 5px #222823;
  color: #f4f7f5;
}
.underIntro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introContainer img {
  height: 40rem;
  width: 40rem;
  margin: 2rem;
  box-shadow: 1px 1px 5px #a7a2a9;
  border-radius: 0px 50% 50% 0px;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 70%;
  height: 40rem;
  /* background-color: #a6a9aa;
  box-shadow: 1px 1px 5px #a6a9aa; */
  opacity: 0.7;
}
.intro h2 {
  font-size: xx-large;
  font-weight: 100;
  line-height: 1.8;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #e1e4e3;
}

/* skills section  */

.skillsContainer {
  margin-top: 75px;
  margin-bottom: 200px;
}
.techSkills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  max-width: 90%;
  width: 100%;
  margin-left: auto;
  background-color: #a6a9aa;
  margin-bottom: 50px;
}
.techSkills h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  letter-spacing: 4px;
  font-weight: 300;
  padding: 30px 30px 30px 10px;
  border-right: black solid 1px;
}
.familiarSkills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  max-width: 80%;
  width: 100%;
  margin-right: auto;
  background-color: #a6a9aa;
}
.familiarSkills h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  letter-spacing: 4px;
  font-weight: 300;
  padding: 30px 10px 30px 40px;
  border-left: black solid 1px;
}
.skills-1 {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-content: space-between;
  padding: 3rem;
}
.skills-1 h3 {
  font-size: x-large;
  font-weight: 200;
  padding: 10px;
}

/* about section  */
.aboutContainer {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
  margin-right: auto;
  margin-left: auto;
  background-color: #222823;
  box-shadow: 1px 1px 5px #222823;
  opacity: 0.7;
}
.aboutContainer h1 {
  display: flex;
  justify-content: center;
  max-width: 60%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  letter-spacing: 4px;
  font-weight: 300;
  border-bottom: white solid 1px;
  text-shadow: 1px 5px #222823;
  color: white;
}
.aboutItems {
  padding: 20px 60px 60px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutItems h3 {
  padding: 20px;
  border-left: 5px solid white;
  line-height: 1.9;
  font-size: x-large;
  font-weight: 500;
  color: white;
}
.aboutItems h5 {
  padding: 30px;
  line-height: 1.7;
  font-size: x-large;
  font-weight: 200;
  color: white;
}

/* projects section */
.projectsContainer {
  max-width: 90%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin: 180px 30px;
}
.projectsContainer h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  text-transform: uppercase;
  text-orientation: upright;
  padding: 20px;
  max-width: 10%;
  width: 100%;
  font-weight: 600;
  font-size: 8rem;
  margin-bottom: 40px;
  background-color: #a6a9aa;
  max-width: 30%;
  width: 100%;
}
.allProjects {
  max-width: 90%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-right: solid black 2px;
}
.projectImgs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  width: 100%;
  padding: 30px;
}
.projectImg {
  width: 40rem;
  height: 30rem;
  box-shadow: 1px 1px 35px #222823;
}

/* footer section  */
.footerContainer {
  margin: 0 auto;
  width: 100%;
  /* max-width: 100%; */
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  background-color: #3d4141;
  color: white;
}
.footerContainer h5 {
  font-weight: 300;
  font-size: x-large;
  letter-spacing: 2px;
}
.footerIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  width: 100%;
  background-color: #e1e4e3;
}
.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.icon {
  width: 2rem;
  height: 2rem;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1200px) {
  /* introduction section */
  .introContainer img {
    height: 32rem;
    width: 32rem;
  }
  .intro {
    height: 28rem;
  }
  .intro h2 {
    font-size: x-large;
  }

  /* skills section */

  .techSkills h1 {
    font-size: xx-large;
  }
  .familiarSkills h1 {
    font-size: xx-large;
  }
}

@media screen and (max-width: 960px) {
  /* navbar secton */
  #logo {
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .nav-links {
    display: none;
  }
  .navContainer ul li {
    display: none;
  }
  nav {
    position: relative;
    justify-content: center;
  }
  #zero {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .anchor {
    padding-top: 0px;
  }
  .anchor2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #three {
    padding-top: 0px;
  }
  /* introduction section */
  .introContainer img {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    height: 25rem;
    width: 25rem;
  }
  .intro {
    height: 25rem;
  }
  .intro h2 {
    font-size: large;
  }

  /* skills section */
  .techSkills h1 {
    font-size: x-large;
  }
  .familiarSkills h1 {
    font-size: x-large;
  }
  .skills-1 h3 {
    font-size: x-large;
  }

  /* projects section  */

  .projectsContainer h1 {
    padding: 17px;
    max-width: 20%;
  }
  .projectImg {
    width: 25rem;
    height: 26rem;
  }
}
/* tablets */
@media screen and (max-width: 816px) {
  /* introduction section */
  .introContainer {
    margin-bottom: 100px;
    height: 80vh;
  }
  .underIntro {
    flex-direction: column;
    justify-content: center;
  }
  .introContainer img {
    display: flex;
    align-self: flex-start;
    border-radius: 50%;
    padding: 0px;
    width: 25em;
    height: 25rem;
  }
  .intro h2 {
    font-size: larger;
    padding: 0.55em;
  }

  /* skills section */

  .skillsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .techSkills {
    justify-content: center;
    max-width: 80%;
    padding: 10px;
  }
  .techSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
  }
  .familiarSkills {
    justify-content: center;
    max-width: 80%;
    padding: 10px 20px 10px 10px;
  }
  .familiarSkills h1 {
    letter-spacing: 1px;
    font-size: x-large;
    padding: 30px 10px 30px 50px;
  }
  .skills-1 {
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .skills-1 h3 {
    font-size: large;
  }

  /* about section */
  .aboutContainer {
    height: 100%;
  }
  .aboutContainer h1 {
    font-size: x-large;
    max-width: 80%;
  }
  .aboutItems {
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    max-width: 90%;
  }
  .aboutItems h3 {
    padding: 30px;
    font-size: medium;
    margin-bottom: 15px;
  }
  .aboutItems h5 {
    font-size: small;
    padding: 10px;
  }

  /* projects section */
  .projectsContainer h1 {
    font-size: 3rem;
    padding: 17px;
    font-weight: 400;
    max-width: 14%;
  }
  .allProjects {
    padding: 30px 30px 30px 10px;
    max-width: 95%;
  }
  .projectImgs {
    padding: 15px;
  }
  .projectImg {
    width: 25rem;
    height: 25rem;
  }
}

/* phone screens */
@media screen and (max-width: 690px) {
  /* NavBar */
  .anchor {
    padding-top: 50px;
  }
  #three {
    padding-top: 50px;
  }
  /* Intro Container */
  .introContainer {
    margin-top: 30px;
    padding: 1rem;
    padding-bottom: 150px;
    height: 100vh;
    background-color: #222823;
  }
  .introContainer img {
    width: 22rem;
    height: 22rem;
    justify-content: center;
    align-content: center;
  }
  .intro {
    width: 100%;
  }
  .intro h2 {
    font-size: x-large;
  }

  /* skills section */

  .skillsContainer {
    margin-top: 50px;
  }
  .techSkills {
    flex-direction: column;
    max-width: 100%;
    padding: 20px;
  }
  .familiarSkills {
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 30px;
  }
  .skills-1 {
    flex-direction: row;
    padding: 20px;
  }
  .skills-1 h3 {
    padding: 20px;
  }

  /* about section */
  .aboutContainer {
    padding-top: 30px;
    margin-bottom: 50px;
  }
  .aboutItems {
    flex-direction: column;
  }
  .aboutItems h3 {
    padding: 10px;
  }

  /* projects section*/
  .projectsContainer {
    width: 100%;
    padding: 10px;
    margin: 50px 10px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-content: center;
  }
  .projectsContainer h1 {
    font-size: 3rem;
    padding: 1em;
    font-weight: 800;
    max-width: 89%;
    writing-mode: horizontal-tb;
    letter-spacing: 6px;
  }
  .allProjects {
    border-left: solid black 2px;
    padding: 40px 25px 30px 25px;
  }
  .img-1 {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  /* footer section */

  .footerContainer h5 {
    font-size: large;
  }
  .footerIcons {
    max-width: 50%;
  }

  .icon {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media screen and (max-width: 570) {
  /* intro section */

  .introContainer img {
    width: 15rem;
    height: 15rem;
  }
  .intro {
    background-color: none;
  }
}
